---
---

<!DOCTYPE html>
<html>
    <head>
        <title>MSU Navigation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MSU Engineering URL WiKi">
        <meta name="keywords" content="MSU,Spartan,Engineering,Links">
        <meta name="author" content="SpartanLinks">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <link rel="icon" href="favicon.ico">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css" rel="stylesheet">
        <script>
          var _hmt = _hmt || [];
          (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?608099a97a36357ac1c2b142b92e67db";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script>
    </head>
    <body>
        <div class="u_nav-wrapper">
            <div class="u_nav">
                <div class="u_nav-left">
                    <a class="u_nav-link" href="."><b>MSU Navigation</b></a>
                </div>
                <!-- PC 端搜索框组 -->
                <div class="u_nav-input-group">
                    <form id="search-form-pc">
                        <input class="u_nav-input" id="search-pc">
                        <input type="submit" hidden>
                    </form>
                    <ul>
                        <li class="u_nav-btn">
                            <span onclick="search('google', 'pc')">Google</span>
                            <ul class="u_nav-ul">
                                <li><span class="u_nav-li" onclick="search('bing', 'pc')">Bing</span></li>
                                <li><span class="u_nav-li" onclick="search('baidu', 'pc')">Baidu</span></li>
                                <li><span class="u_nav-li" onclick="search('wolframalpha', 'pc')">Wolfram</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 移动端搜索框组 -->
                <div class="um_nav-input-group">
                    <div class="clear"></div>
                    <form id="search-form-mobile">
                        <input class="um_nav-input" id="search-mobile">
                        <input type="submit" hidden>
                    </form>
                    <div class="um_nav-btn" onclick="search('bing', 'mobile')">Bing</div>
                    <div class="um_nav-btn" onclick="search('google', 'mobile')">Google</div>
                    <div class="um_nav-btn" onclick="search('baidu', 'mobile')">Baidu</div>
                    <div class="um_nav-btn" onclick="search('wolframalpha_mob', 'mobile')">Wolfram</div>
                </div>
                <div class="u_nav-right">
                    <a class="u_nav-link" href="https://spartanlinks.github.io/">You are now on: <b>spartanlinks.github.io</b></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="u_main-wrapper">
            <div class="main">
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://cse.msu.edu/" target="_blank">Computer Science and Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://cse.msu.edu/Research/labs.php" title="CSE Labs" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://cse.msu.edu/People/" title="CSE Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://cse.msu.edu/Students/Future_Grad/" title="Future Grad" icon="fad fa-comment-alt-lines" %}                             
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://me.msu.edu/" target="_blank">Mechanical Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://me.msu.edu/laboratories" title="ME Labs" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://me.msu.edu/faculty" title="ME Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://me.msu.edu/graduate-admission" title="Future Grad" icon="fad fa-comment-alt-lines" %}
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://ece.msu.edu/" target="_blank">Electrical and Computer Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://ece.msu.edu/research-groups" title="ECE Labs" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://ece.msu.edu/faculty" title="ECE Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://ece.msu.edu/academics/graduate-programs" title="Future Grad" icon="fad fa-comment-alt-lines" %}
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://cmse.msu.edu/" target="_blank">Computational Mathematics, Science and Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://cmse.msu.edu/research/labs/" title="CMSE Labs" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://cmse.msu.edu/directory/faculty/" title="CMSE Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://cmse.msu.edu/academics/graduate-program/" title="Future Grad" icon="fad fa-comment-alt-lines" %}    
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://cmse.msu.edu/" target="_blank">Civil and Environmental Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://www.egr.msu.edu/cee/research/areas" title="CEE Research" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/cee/people/faculty" title="CEE Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/cee/admissions/graduate-program" title="Future Grad" icon="fad fa-comment-alt-lines" %}  
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://www.chems.msu.edu/" target="_blank">Chemical Engineering and Materials Science</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://www.chems.msu.edu/research/facilities" title="CEMS Research" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://www.chems.msu.edu/people/faculty" title="CEMS Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://www.chems.msu.edu/academics/graduate/how-to-apply" title="Future Grad" icon="fad fa-comment-alt-lines" %} 
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://www.egr.msu.edu/bae/" target="_blank">Biosystems and Agricultural Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://www.egr.msu.edu/bae/research" title="BAE Research" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/bae/directory/faculty-academic-staff" title="BAE Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/bae/graduate/be-admission-requirements" title="Future Grad" icon="fad fa-comment-alt-lines" %} 
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://www.egr.msu.edu/bme/" target="_blank">Applied Engineering Sciences and Biomedical Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://www.egr.msu.edu/aes/" title="AES Info" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/bme/bme-faculty-directory" title="BME Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/bme/graduate-academic-programs" title="Future Grad" icon="fad fa-comment-alt-lines" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title" id="top">Food and Sports</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://eatatstate.msu.edu/campus-dining" title="Dining Hall" icon="far fa-globe" %}
                            {% include block-grid.html url="https://foodbank.msu.edu/" title="Food Bank" icon="fad fa-mug-tea" %}
                            {% include block-grid.html url="https://recsports.msu.edu/" title="Sports" icon="fad fa-swap-opacity fa-newspaper" %}
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top">Regular Systems</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://student.msu.edu/splash.html" title="SIS" icon="fad fa-swap-opacity fa-newspaper" %}
                            {% include block-grid.html url="https://spartanmail.msu.edu" title="Email" icon="far fa-envelope" %}
                            {% include block-grid.html url="https://tech.msu.edu/service-catalog/teaching/computer-labs-classrooms/locations-hours/" title="Printer" icon="fad fa-print" %}
                            {% include block-grid.html url="https://olin.msu.edu/" title="Health Service" icon="fad fa-hospital" %}
                            {% include block-grid.html url="https://ebs.msu.edu/" title="Payroll" icon="fad fa-yen-sign" %}
                            {% include block-grid.html url="https://lib.msu.edu/" title="Library" icon="fad fa-school" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    
                    <div class="main-block">
                        <span class="block-title" id="top">Public Info</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://grad.msu.edu/apply/phddata" title="Phd Data" icon="fad fa-wand-magic" %}
                            {% include block-grid.html url="https://msugrades.com/" title="MSU Grades" icon="fad fa-swap-opacity fa-pen-nib" %}                            
                            {% include block-grid.html url="https://wiki.hpcc.msu.edu/" title="HPCC" icon="fad fa-server" %}
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="main-block">
                        <span class="block-title" id="top">News</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://msutoday.msu.edu/" title="MSU Today" icon="far fa-grin-wink" %}
                            {% include block-grid.html url="https://www.egr.msu.edu/news" title="Egr News" icon="fad fa-graduation-cap" %}
                            {% include block-grid.html url="https://seit.egr.msu.edu/posts.html" title="Tech News" icon="fad fa-swap-opacity fa-newspaper" %}
                            <div class="clear"></div>
                        </div>
                    </div>                     
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="site-footer">
            <div class="wrapper">
                <p class="power">
                    This project is inspired by <a href="https://ustc.life"> USTCLife </a>
                    <br> 
                    This is not an official website, but if you want inclusion, please find me at
                    <a href="https://www.linkedin.com/in/guangjingwang/" target="_blank">LinkedIn</a> 
                </p>
                <p class="description">
                    MSU Navigation is supported by MSU Engineering Graduate Leadership Program &copy; 2022 
                </p>
            </div>
        </footer>

        <div class="back-to-top">
            <a href="#top" class="scroll">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </a>
        </div>

        <script type="text/javascript" charset="UTF-8" src="/js/scroll.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/main.js"></script>

    </body>
    <script>
        var search = function(site, env) {
            var searchId = env === 'pc' ? 'search-pc' : 'search-mobile';
            var baseURL = {
                google: 'https://www.google.com/search?q=',
                baidu: 'https://www.baidu.com/s?wd=',
                bing: 'https://www.bing.com/search?q=',
                wolframalpha: 'https://www.wolframalpha.com/input/?i=',
                wolframalpha_mob: 'https://m.wolframalpha.com/input/?i='
            };
            window.open(baseURL[site] + encodeURIComponent(document.getElementById(searchId).value));
        };
        document.getElementById("search-form-pc").onsubmit = function(e) {
            e.preventDefault();
            search('google', 'pc');
        };
        document.getElementById("search-form-mobile").onsubmit = function(e) {
            e.preventDefault();
            search('bing', 'mobile');
        };
    </script>
</html>
