---
---

<!DOCTYPE html>
<html>
    <head>
        <title>MSU Navigation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MSU Engineering URL WiKi">
        <meta name="keywords" content="MSU,Spartan,Engineering,Links">
        <meta name="author" content="SpartanLinks">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <link rel="icon" href="favicon.ico">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css" rel="stylesheet">
        <script>
          var _hmt = _hmt || [];
          (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?608099a97a36357ac1c2b142b92e67db";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script>
    </head>
    <body>
        <div class="u_nav-wrapper">
            <div class="u_nav">
                <div class="u_nav-left">
                    <a class="u_nav-link" href="."><b>MSU Navigation</b></a>
                </div>
                <!-- PC 端搜索框组 -->
                <div class="u_nav-input-group">
                    <form id="search-form-pc">
                        <input class="u_nav-input" id="search-pc">
                        <input type="submit" hidden>
                    </form>
                    <ul>
                        <li class="u_nav-btn">
                            <span onclick="search('google', 'pc')">Google</span>
                            <ul class="u_nav-ul">
                                <li><span class="u_nav-li" onclick="search('bing', 'pc')">Bing</span></li>
                                <li><span class="u_nav-li" onclick="search('baidu', 'pc')">Baidu</span></li>
                                <li><span class="u_nav-li" onclick="search('wolframalpha', 'pc')">Wolfram</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 移动端搜索框组 -->
                <div class="um_nav-input-group">
                    <div class="clear"></div>
                    <form id="search-form-mobile">
                        <input class="um_nav-input" id="search-mobile">
                        <input type="submit" hidden>
                    </form>
                    <div class="um_nav-btn" onclick="search('bing', 'mobile')">Bing</div>
                    <div class="um_nav-btn" onclick="search('google', 'mobile')">Google</div>
                    <div class="um_nav-btn" onclick="search('baidu', 'mobile')">Baidu</div>
                    <div class="um_nav-btn" onclick="search('wolframalpha_mob', 'mobile')">Wolfram</div>
                </div>
                <div class="u_nav-right">
                    <a class="u_nav-link" href="https://spartanlinks.github.io/">You are now on: <b>spartanlinks.github.io</b></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="u_main-wrapper">
            <div class="main">
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://cse.msu.edu/" target="_blank">Computer Science and Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://cse.msu.edu/Research/labs.php" title="CSE Labs" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://cse.msu.edu/People/" title="CSE Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://cse.msu.edu/Students/Future_Grad/" title="Future Grad" icon="fad fa-comment-alt-lines" %}                             
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://me.msu.edu/" target="_blank">Mechanical Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://me.msu.edu/laboratories" title="ME Labs" icon="fad fa-swap-opacity fa-house-signal" %}
                            {% include block-grid.html url="https://me.msu.edu/faculty" title="ME Faculty" icon="fad fa-address-book" %}
                            {% include block-grid.html url="https://me.msu.edu/graduate-admission" title="Future Grad" icon="fad fa-comment-alt-lines" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title" id="top"><a href="https://ece.msu.edu/" target="_blank">Electrical and Computer Engineering</a></span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://ece.msu.edu/research-groups" title="ECE Labs" icon="fad fa-landmark" %}
                            {% include block-grid.html url="https://ece.msu.edu/faculty" title="ECE Faculty" icon="fad fa-swap-opacity fa-comments" %}
                            {% include block-grid.html url="https://ece.msu.edu/academics/graduate-programs" title="Future Grad" icon="fad fa-swap-opacity fa-heart" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">技术乐园</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://wvpn.ustc.edu.cn/" title="Web VPN" icon="fad fa-chart-network" %}
                            {% include block-grid.html url="https://mirrors.ustc.edu.cn/" title="开源软件镜像" icon="fab fa-linux" %}
                            {% include block-grid.html url="https://git.ustc.edu.cn/" title="SCC GitLab" icon="fab fa-git-alt" %}
                            {% include block-grid.html url="https://git.lug.ustc.edu.cn/" title="LUG GitLab" icon="fab fa-git-alt" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">教室查询</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="http://bigscreen.cmet.ustc.edu.cn/#/2" title="二教" icon="fad fa-school" %}
                            {% include block-grid.html url="http://bigscreen.cmet.ustc.edu.cn/#/3" title="三教" icon="fad fa-school" %}
                            {% include block-grid.html url="http://bigscreen.cmet.ustc.edu.cn/#/5" title="五教" icon="fad fa-school" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">外部网站</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://www.zhihu.com/" title="知乎" icon="fab fa-zhihu" %}
                            {% include block-grid.html url="https://www.bilibili.com/" title="bilibili" icon="fad fa-link" %}
                            {% include block-grid.html url="https://www.weibo.com/" title="微博" icon="fab fa-weibo" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">研究生</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="https://yjs.ustc.edu.cn/" title="信息平台" icon="fad fa-chalkboard-teacher" %}
                            {% include block-grid.html url="https://epc.ustc.edu.cn/main.asp" title="EPC 平台" icon="fad fa-swap-opacity fa-spell-check" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">最少点击</span>
                        <div class="block-grid-wrapper">
                            {% include block-grid.html url="http://202.38.65.52/xyzd/" title="学业指导中心" icon="fad fa-building" %}
                            {% include block-grid.html url="https://baike.ustc.edu.cn/" title="校园百科" icon="far fa-question-circle" %}
                            {% include block-grid.html url="https://scc.ustc.edu.cn/" title="超算中心" icon="fad fa-server" %}
                            {% include block-grid.html url="https://sf.ustc.edu.cn/" title="网上缴费系统" icon="fad fa-yen-sign" %}
                            {% include block-grid.html url="https://hospital.ustc.edu.cn/" title="校医院" icon="fad fa-hospital" %}
                            {% include block-grid.html url="https://verify-transcript.cmet.ustc.edu.cn/manager.action" title="成绩单打印" icon="fad fa-print" %}
                            {% include block-grid.html url="https://welcome.ustc.edu.cn/" title="迎新网" icon="far fa-grin-wink" %}
                            {% include block-grid.html url="https://zsb.ustc.edu.cn/" title="招生办" icon="fad fa-wand-magic" %}
                            {% include block-grid.html url="https://fix.ustc.edu.cn/" title="教学设备报修" icon="fad fa-swap-opacity fa-wrench" %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="site-footer">
            <div class="wrapper">
                <p class="power">
                    This project is inspired by <a href="https://ustc.life"> USTCLife </a>, and only includes links ending with <b>msu.edu</b>
                    <br> 
                    This is not an official website, but if you want inclusion, please find me at
                    <a href="https://www.linkedin.com/in/guangjingwang/" target="_blank">LinkedIn</a> 
                </p>
                <p class="description">
                    MSU Navigation is supported by MSU Engineering Graduate Leadership Program &copy; 2022 
                </p>
            </div>
        </footer>

        <div class="back-to-top">
            <a href="#top" class="scroll">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </a>
        </div>

        <script type="text/javascript" charset="UTF-8" src="/js/scroll.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/main.js"></script>

    </body>
    <script>
        var search = function(site, env) {
            var searchId = env === 'pc' ? 'search-pc' : 'search-mobile';
            var baseURL = {
                google: 'https://www.google.com/search?q=',
                baidu: 'https://www.baidu.com/s?wd=',
                bing: 'https://www.bing.com/search?q=',
                wolframalpha: 'https://www.wolframalpha.com/input/?i=',
                wolframalpha_mob: 'https://m.wolframalpha.com/input/?i='
            };
            window.open(baseURL[site] + encodeURIComponent(document.getElementById(searchId).value));
        };
        document.getElementById("search-form-pc").onsubmit = function(e) {
            e.preventDefault();
            search('google', 'pc');
        };
        document.getElementById("search-form-mobile").onsubmit = function(e) {
            e.preventDefault();
            search('bing', 'mobile');
        };
    </script>
</html>
